*{ /*Utilizo el selector universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*Utilizo root para crear variables personalizadas*/
    --color_principal:rgb(102, 139, 240);
    --color_complementario:rgb(26, 46, 156);
    --color_interaccion:rgb(43, 74, 255);
    --color_fuente:white;
    --color_fuente_oscuro:rgb(0, 0, 0);
    --color_mostrario:rgb(189, 189, 189);
    --fuente_titulos:Arial, Helvetica, sans-serif;
}

.contenedor{ /*se aplican los parametros para el contenedor de las cajas*/
    background-color: var(--color_principal);
    border: 2px;
    border-radius: 10px;
    height: 100%;
    margin: 10px;
    padding: 20px;
}

.caja{ /*Creo el modelo de caja*/
    background-color: var(--color_complementario);
    position: relative;
    display: inline-block;
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.caja:hover{ /*Utilizo hover para cambiar el color defondo de la caja al posar el cursor sobre esta*/
    background-color: var(--color_interaccion);
    transition: 0.3s;
}

.caja_navegacion{ /*Posciciono la caja de navegacion*/
    position:absolute;
    left: 40px;
    top: 110px;
}

.caja-links{ /*aplico estilos a los links*/
    font-size: 30px;
    font-family: var(--fuente_titulos);
    font-weight: 600;
    color: var(--color_fuente);
    text-decoration: none;
}


.mostrario{  /*creo un contenedor llamado mostrario*/
    margin: 0 auto;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    background-color: var(--color_mostrario);
    margin-top: 50px;
    text-align: center;
    padding: 15px;
}

.mostrario_titulo{ /*agrego parametros al titulo*/
    font-family: var(--fuente_titulos);
    margin: 10px;
    font-size: 27px;
}

.card{ /*creo un elemento card*/
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    height: 380px;
    width: 310px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 255, 255, 0.671);
    border-radius: 15px;
}

.card_titulo{ /*aplico parametros al titulo de la card*/
    font-family: var(--fuente_titulos);
    color: var(--color_fuente_oscuro);
    font-weight: 700;
    margin: 10px;
}

.card_imagen{ /*Asigno tamaño a la imagen de la card*/
    height: 210px;
    width: 250px;
    margin: 10px;
    background-size: cover;
}

.card_texto{ /*aplico estilo al texto de la card*/
    text-align: center;
    font-family: var(--fuente_titulos);
    color: var(--color_fuente_oscuro);
    font-size: 11px;
    margin: 5px;
}

.card_precio{
    font-family: var(--fuente_titulos);
    font-size: 20px;
    color: var(--color_fuente_oscuro);
}

.componente_navegacion{ /*Estilizo el componente de navegacion*/
    background-color: beige;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid rgba(0, 0, 0, 0.386);
    border-radius: 15px;
    padding: 10px;
}

.boton{ /*Creo un boton*/
    margin: 10px 0px;
    background-color: var(--color_principal);
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.244);
}

.boton:hover{ /*Aplico un pseudo elemento*/
    background-color: var(--color_interaccion);
    transition: 0.2s;
}

.boton-link{ /*aplico estilo a el texto del link*/
    color: var(--color_fuente);
    font-family: var(--fuente_titulos);
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
}

.componente_navegacion-imagen{ /*aplico el tamaño y las dimenciones de la imagen*/
    height: 250px;
    width:250px ;
    background-size: cover;
    border-radius: 50%;
    margin: 5px 0px;
}

.formulario{ /*Aplico dimenciones a el elemento formulario*/
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    height: 380px;
    width: 310px;
    background-image: linear-gradient(rgb(0, 180, 0), darkgreen);
    border-radius: 15px;
}

.formulario_label{ /*Aplico estilo al texto*/
    margin-top: 5px;
    font-family: var(--fuente_titulos);
    font-size: 15px;
    font-weight: 500;
    color: var(--color_fuente);

}

.formulario_input{ /*Aplico estilo a la accion*/
    margin-top: 3px;
    background-color: white;
    border: solid 1px var(--color_principal);
    height: 30px;
    width: 250px;
    border-radius: 10px;
}

.formulario_input:focus{ /*Aplico un pseudo elemento hover*/
    background-color: var(--color_principal);
    transition: 0.5s;
}

.formulario_boton{ /*aplico estilos al boton del formulario*/
    margin-top: 20px;
    background-color: white;
    font-family: var(--fuente_titulos);
    font-size: 20px;
    width: 110px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.148);
    border-radius: 15px;
    cursor: pointer;
}

.formulario_boton:hover{ /*aplico un pseudo elemento*/
    background-color: gold;
    border-color: gold;
    transition: 0.3s;
}